{% extends 'layout.html' %}

{% block title %} Deaths {% endblock %}

{% block body %}
                <section>
                    <div class="section-body">
                        <!-- BEGIN DATATABLE 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>{{ guild_name  }}</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="datatable2" class="table order-column hover">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Sex</th>
                                                        <th>Level</th>
                                                        <th>Vocation</th>
                                                        <th>House</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for player in players %}
                                                        <tr class="gradeX">
                                                            <td><a href="{% url 'player_details' player.name %}">{{ player.name }}</td>
                                                            <td>{{ player.sex }}</td>
                                                            <td>{{ player.level }}</td>
                                                            <td>{{ player.vocation }}</td>
                                                            <td>{{ player.house }} </td>
                                                            <td>{{ player.status }} </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--end .table-responsive -->
                                    </div>
                                </div>
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->
                    </div><!--end .section-body -->
                </section>
<section>
                    <div class="section-body">
                        <!-- BEGIN DATATABLE 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>Guild deaths</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="datatable2" class="table order-column hover">
                                                <thead>
                                                    <tr>
                                                        <th>Index</th>
                                                        <th>Date</th>
                                                        <th scope="row">Killed</th>
                                                        <th>Text</th>
                                                        <th>Level</th>
                                                        <th>Killed by</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for death in deaths %}
                                                        <tr class="gradeX">
                                                            <td> {{ forloop.counter }}</td>
                                                            <td>{{ death.date }}</td>
                                                            <td scope="row"><a href="{% url 'player_details' death.killed %}">{{ death.killed }}</a></td>
                                                            <td>{{ death.text }}</td>
                                                            <td>{{ death.level }}</td>
                                                            <td><a href="{% url 'player_details' death.killer %}">{{ death.killer }}</a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--end .table-responsive -->
                                    </div>
                                </div>
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->

                    </div><!--end .section-body -->
                </section>
<section>
                    <div class="section-body">
                        <!-- BEGIN DATATABLE 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>Guild kills</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="datatable2" class="table order-column hover">
                                                <thead>
                                                    <tr>
                                                        <th>Index</th>
                                                        <th>Killed</th>
                                                        <th>Text</th>
                                                        <th>Date</th>

                                                        <th>Level</th>
                                                        <th scope="row">Killed by</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for death in kills %}
                                                        <tr class="gradeX">
                                                            <td> {{ forloop.counter }}</td>
                                                            <td>{{ death.date }}</td>
                                                            <td><a href="{% url 'player_details' death.killed %}">{{ death.killed }}</a></td>
                                                            <td>{{ death.text }}</td>
                                                            <td>{{ death.level }}</td>
                                                            <td><a href="{% url 'player_details' death.killer %}">{{ death.killer }}</a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--end .table-responsive -->
                                    </div>
                                </div>
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->

                    </div><!--end .section-body -->
                </section>
{% endblock %}